:root {
    /* Colors */

    /* Primary */
    --clr-primary-pale-blue: hsl(225, 100%, 94%);
    --clr-primary-bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --clr-neutral-very-pale-blue: hsl(225, 100%, 98%);
    --clr-neutral-desaturated-blue: hsl(224, 23%, 55%);
    --clr-neutral-dark-blue: hsl(223, 47%, 23%);

    /* Fonts */
    --ff-red-hat-display: 'Red Hat Display', sans-serif;

    /* Weights */
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* General styling */

body {
    background-color: var(--clr-primary-pale-blue);
    min-height: 100vh;
    font-family: var(--ff-red-hat-display);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card {
    background-color: white;
    max-width: 375px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.sub-card {
    padding: 1.5rem;
}

.sub-card h1 {
    color: var(--clr-neutral-dark-blue);
    font-size: 1.4rem;
    font-weight: var(--fw-black);
    text-align: center;
    margin-bottom: 1rem;
}

.sub-card p {
    color: var(--clr-neutral-desaturated-blue);
    font-weight: var(--fw-medium);
    text-align: center;
    margin-bottom: 1.5rem;
}

.sub-card .plan {
    background-color: hsl(224, 23%, 55%, 0.05);
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-card .plan .sub-plan {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.sub-card .plan .price .annual {
    color: var(--clr-neutral-dark-blue);
    font-weight: var(--fw-black);
}

.sub-card .plan .price .costs {
    color: var(--clr-neutral-desaturated-blue);
    font-weight: var(--fw-medium);
}

.sub-card .plan a {
    text-decoration: none;
    text-decoration: underline;
    color: var(--clr-primary-bright-blue);
    font-size: 0.875rem;
    font-weight: var(--fw-black);
}

.sub-card .plan a:hover {
    color:  hsl(245, 75%, 52%, 0.775);
}

button {
    display: block;
}

.sub-card .btn-payment{
    background-color: var(--clr-primary-bright-blue);
    color: var(--clr-neutral-very-pale-blue);
    font-weight: var(--fw-bold);
    text-align: center;
    border: 0;
    border-radius: 0.825rem;
    width: 100%;
    padding: 0.675rem 0 0.675rem 0;
    margin-bottom: 1.5rem;
    cursor: pointer;
    box-shadow: 0 10px 18px -2px hsl(224deg 41.12% 58.79% / 55%);
}

.sub-card .btn-payment:hover {
    background-color: hsl(245, 75%, 52%, 0.775);
}

.sub-card .btn-cancel {
    background-color: white;
    color: var(--clr-neutral-desaturated-blue);
    font-weight: var(--fw-black);
    text-align: center;
    border: 0;
    padding: 0.675rem 0 0.675rem 0;
    margin: 0 auto;
    cursor: pointer;
}

.sub-card .btn-cancel:hover {
    color: var(--clr-neutral-dark-blue);
}

@media screen and (max-width: 355px) {
    .sub-card .plan { 
        flex-direction: column;
    }

    .sub-card .plan .sub-plan {
        flex-direction: column;
    }
}

@media screen and (max-width: 220px) {
    .sub-card .plan .price .annual {
        text-align: center;
    }
}

@media screen and (min-width: 375px) {
    .card {
        max-width: 400px;
    }
}

/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*/
